// Variables

// Colors
$color-background: #6c8e99;
$color-main: #ffffff;
$color-secondary-background-highlight: #ff7f50;
$color-highlight: #4b0082;
$color-text: #000000;

// Margins
$margin-small: 0.25rem;
$margin-medium: 0.5rem;
$margin-large: 1rem;

// Number of sections in the main element, used for the grid layout. Update this value to change the number of sections in the main element.
$section-count: 4;

// Number of items in the contact information section, used for the grid layout. Update this value to change the number of items in the contact information section.
$contact-info-count: 5;

// Current width of the main content area.
$page-width: 70svw;

// Size of the Spotify stats images.
$spotify-stats-image-size: 5rem;
