@use "variables";

@mixin background($color, $shadow: false) {
   background-color: $color;

   @if $shadow {
      box-shadow: rgba(0, 0, 0, 0.25) 0rem 3.375rem 3.4375rem, rgba(0, 0, 0, 0.12) 0rem -0.75rem 1.875rem, rgba(0, 0, 0, 0.12) 0rem 0.25rem 0.375rem,
         rgba(0, 0, 0, 0.17) 0rem 0.75rem 0.8125rem, rgba(0, 0, 0, 0.09) 0rem -0.1875rem 0.3125rem;
   }
}

@mixin center($vertical: false, $horizontal: false) {
   @if $vertical {
      margin-top: auto;
      margin-bottom: auto;
   }

   @if $horizontal {
      margin-left: auto;
      margin-right: auto;
   }
}

@mixin color($color) {
   color: $color;
}

@mixin cursor($cursor: false) {
   @if $cursor {
      cursor: $cursor;
   }
}

@mixin filter($filters...) {
   filter: $filters;
}

@mixin flex($direction: column, $justify-content: flex-start, $align-items: stretch, $align-content: stretch, $flex-wrap: nowrap, $gap: 0) {
   display: flex;
   flex-direction: $direction;
   justify-content: $justify-content;
   align-items: $align-items;
   align-content: $align-content;
   flex-wrap: $flex-wrap;
   gap: $gap;
}

@mixin font($family) {
   font-family: $family;
}

@mixin grid($columns, $rows, $gap: false, $row-gap: false, $column-gap: false) {
   display: grid;
   grid-template-columns: $columns;
   grid-template-rows: $rows;

   @if $gap {
      gap: $gap;
   }

   @if $row-gap {
      row-gap: $row-gap;
   }

   @if $column-gap {
      column-gap: $column-gap;
   }
}

@mixin grid-item($column-start, $width, $row-start, $height) {
   grid-column: $column-start / span $width;
   grid-row: $row-start / span $height;
}

@mixin image($object-fit: cover) {
   object-fit: $object-fit;
}

@mixin link($text-decoration: none) {
   text-decoration: $text-decoration;
}

@mixin list-style($image: false) {
   @if $image {
      list-style-image: $image;
   }
}

@mixin margin($top: false, $right: false, $bottom: false, $left: false, $vertical: false, $horizontal: false, $all: false) {
   @if $top {
      margin-top: $top;
   }

   @if $right {
      margin-right: $right;
   }

   @if $bottom {
      margin-bottom: $bottom;
   }

   @if $left {
      margin-left: $left;
   }

   @if $vertical {
      margin-top: $vertical;
      margin-bottom: $vertical;
   }

   @if $horizontal {
      margin-right: $horizontal;
      margin-left: $horizontal;
   }

   @if $all {
      margin-top: $all;
      margin-right: $all;
      margin-bottom: $all;
      margin-left: $all;
   }
}

@mixin overflow($x: false, $white-space: false) {
   @if $x {
      overflow-x: $x;
   }

   @if $white-space {
      white-space: $white-space;
   }
}

@mixin size(
   $width: false,
   $height: false,
   $both: false,
   $max-width: false,
   $max-height: false,
   $max-both: false,
   $min-width: false,
   $min-height: false,
   $min-both: false
) {
   @if $height {
      height: $height;
   }

   @if $width {
      width: $width;
   }

   @if $both {
      width: $both;
      height: $both;
   }

   @if $max-height {
      max-height: $max-height;
   }

   @if $max-width {
      max-width: $max-width;
   }

   @if $max-both {
      max-width: $max-both;
      max-height: $max-both;
   }

   @if $min-height {
      min-height: $min-height;
   }

   @if $min-width {
      min-width: $min-width;
   }

   @if $min-both {
      min-width: $min-both;
      min-height: $min-both;
   }
}

@mixin text-align($vertical: null, $horizontal: null) {
   @if $horizontal != null {
      text-align: $horizontal;
   }

   @if $vertical != null {
      display: flex;
      align-items: $vertical;
   }
}
