// Variables

// Colors
$color-background: #6c8e99;
$color-main: #ffffff;
$color-secondary-background-highlight: #ff7f50;
$color-highlight: #4b0082;
$color-text: #000000;


// Number of sections in the main element, used for the grid layout. Update this value to change the number of sections in the main element.
$section-count: 4;

//
$page-width: 70svw;
